mat-toolbar {
    background: #7c51a1 !important;
    color: #FFF;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.loginContainer {
    float: right;
}

.flexExpand {
    flex: 1 1 auto;
}

.schedulrLogo {
    height: 100%;
    width: auto;
    cursor: pointer;
}

.menuBtn {
    display: none;
}

.introSection {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
}

@media (max-width: 600px) {
    .introSection {
        width: 90%;
    }

    .loginContainer {
        display: none;
    }

    .sidenav-container {
        display: flex;
    }

    .menuBtn {
        display: block;
    }
}