<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Schedulr</span>
      <span class="flexExpand"></span>
      <span class="loginContainer">
        <button mat-button class="showLogin" (click)="showLogin()">
          Login
        </button>
        <button mat-button class="showLogin" (click)="showSignup()">
          Sign Up
        </button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<section>
  <!-- LOGIN SECTION -->
  <mat-card *ngIf="loginVisible && !signupVisible">
    <h2>Login</h2>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input
        [(ngModel)]="loginEmail"
        type="email"
        matInput
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        [(ngModel)]="loginPass"
        type="password"
        matInput
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <button mat-button (click)="loginBtn()" class="loginBtn">Login</button>
  </mat-card>
  <!-- SIGN-UP SECTION -->
  <mat-card *ngIf="!loginVisible && signupVisible">
    <h2>Register</h2>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input
        [(ngModel)]="signupEmail"
        type="email"
        matInput
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        [(ngModel)]="signupPass"
        type="password"
        matInput
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Repeat Password</mat-label>
      <input
        [(ngModel)]="signupPass2"
        type="password"
        matInput
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <button mat-button (click)="signupBtn()" class="loginBtn">Sign Up</button>
  </mat-card>
</section>

<router-outlet></router-outlet>
