<header>
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button class="menuBtn" (click)="openNavMenu()">
        <mat-icon>menu</mat-icon>
      </button>
      <img
        src="../assets/schedulrLogo.png"
        class="schedulrLogo"
        (click)="homeLink()"
      />
      <span class="flexExpand"></span>
      <span class="loginContainer" *ngIf="!userAuthenticated">
        <a [routerLink]="'/login'">
          <button mat-button class="showLogin">Login</button>
        </a>
        <a [routerLink]="'/signup'">
          <button mat-button class="showLogin">Sign Up</button>
        </a>
      </span>
      <span class="logoutContainer" *ngIf="userAuthenticated">
        <button mat-button (click)="userLogout()">Logout</button>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<mat-sidenav-container>
  <mat-sidenav [opened]="sideNavOpen" mode="side">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/login'">Login</a>
      <a mat-list-item [routerLink]="'/signup'">Sign Up</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-sidenav-container autosize>
  <mat-sidenav [opened]="sideNavOpen" mode="side">
    <mat-nav-list>
      <a mat-list-item>
        <span class="entry">
          <a href="'/login'">
            <button mat-button class="showLogin">Login</button>
          </a>
        </span>
      </a>
      <a mat-list-item>
        <span class="entry">
          <a href="'/signup'">
            <button mat-button class="showLogin">Sign Up</button>
          </a>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container> -->
