<mat-card>
  <h2>Register</h2>
  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input
      [(ngModel)]="signupEmail"
      type="email"
      matInput
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      [(ngModel)]="signupPass"
      type="password"
      matInput
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Repeat Password</mat-label>
    <input
      [(ngModel)]="signupPass2"
      type="password"
      matInput
      [ngModelOptions]="{ standalone: true }"
    />
  </mat-form-field>
  <button mat-button (click)="signupBtn()" class="loginBtn">Sign Up</button>
</mat-card>
