<section class="introSection">
  <h1>Say hello to an organized schedule!</h1>
  <p>
    Say goodbye to the hassle of back-and-forth emails and conflicting
    calendars. With Schedulr, our scheduling application, it's easy for anyone
    to schedule meetings with you. Simply create an account and you'll be given
    a unique link to your Schedulr scheduler. Share this link with anyone you
    want to meet with and they can easily book a time that works for both of
    you. You can even add notes and details about the meeting so you're always
    prepared.
  </p>
</section>
